services:
    database:
        image: mysql:8
        container_name:adj-database
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: adj-demo
        ports:
            - "3307:3306"
        networks: 
            - adj-net
        volumes: 
            - adj-volume:/var/lib/mysql

    frontend:
        image: client:latest
        build:
            context: ./client
            args: 
                API_HOST: localhost
                API_BASE: /adj-api
                API_PORT: 8081
        container_name: adj-client
        ports:
            - "3000:80"
        networks:
            - adj-net
        depends_on:
        - database
    
    backend:
        image: server:latest
        build:
            context: ./server
        environment:
            SERVER_PORT: 8081
            DB_HOST: localhost
            DB_PORT: 3306
            DB_NAME: adj_demo
            DB_USER: root
            DB_PASSWORD: root
        container_name: adj-client
        ports:
            - "3000:80"
        networks:
            - adj-net
        depends_on:
        - database
